<template>
    <form
        action="seller/update"
        method="POST"
        class="text-left"
        @submit="submitHandler"
    >
        <div class="form-group">
            <label class="">Type *</label>
            <select class="form-control" name="type" v-model="car.type">
                <option value="">--SELECT TYPE--</option>
                <option
                    v-for="type in types"
                    :selected="
                        type.toLowerCase() === car.type.toLowerCase()
                            ? 'selected'
                            : ''
                    "
                    :value="type"
                    >{{ type }}</option
                >
            </select>
        </div>
        <div class="form-group">
            <label>Maker *</label>
            <input
                type="text"
                class="form-control"
                name="maker"
                v-model="car.maker"
            />
        </div>
        <div class="form-group">
            <label>Model *</label>
            <input
                type="text"
                class="form-control"
                name="model"
                v-model="car.model"
            />
        </div>
        <div class="form-group">
            <label>Year *</label>
            <input
                type="text"
                class="form-control"
                name="year"
                v-model.number="car.year"
            />
        </div>
        <div class="form-group">
            <label>Price *</label>
            <input
                type="text"
                class="form-control"
                name="price"
                v-model.number="car.price"
            />
        </div>
        <button type="submit" class="btn btn-primary pull-right">
            Submit
        </button>
    </form>
</template>
<style></style>
<script>
import { success, error } from "../common";
export default {
    mounted() {},
    props: ["apibaseurl", "modalStatusUpdate", "car"],
    data() {
        return {
            maker: "",
            model: "",
            type: "",
            price: "",
            year: "",
            types: [
                "Hatchback",
                "Sedan",
                "MPV",
                "SUV",
                "Crossover",
                "Coupe",
                "Convertible"
            ]
        };
    },
    methods: {
        submitHandler(e) {
            e.preventDefault();
            axios
                .patch(this.apibaseurl + "/seller/car/update/" + this.car.id, {
                    ...this.car
                })
                .then(response => {
                    if (response.data.success) {
                        this.modalStatusUpdate(false);
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                })
                .catch(error => {
                    this.modalStatusUpdate(false);
                    error(error.message);
                });
        }
    }
};
</script>
