<template>
    <div id="listing" data-v-codestyle>
        <div id="filter">
            <form class="form-inline" @submit="searchHandler">
                <div class="form-group mx-sm-3 mb-2">
                    <select class="form-control" name="key" v-model="key">
                        <option value="" selected>--SELECT--</option>
                        <option>Type</option>
                        <option>Maker</option>
                        <option>Model</option>
                        <option>Year</option>
                        <option>Price</option>
                    </select>
                </div>
                <div v-if="key !== 'Price'" class="form-group mb-2 mr-2">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search here"
                        name="keyword"
                        v-model="keyword"
                    />
                </div>
                <div v-if="key === 'Price'">
                    <div class="form-group mb-2 mr-2">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Minimum Price"
                            name="min_price"
                            v-model="min_price"
                        />
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Maximum Price"
                            name="max_price"
                            v-model="max_price"
                        />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">
                    {{ loading === true ? "...Searching" : "Search" }}
                </button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 column" data-v-columnstyle v-for="car in cars">
                <div class="row">
                    <div class="col-md-12">
                        <div class="car-info">
                            <p>
                                Type: {{ car.type }} <br />
                                Model: {{ car.model }} <br />
                                Maker: {{ car.maker }} <br />
                                Year: {{ car.year }} <br />
                                Price:
                                <em name="price">{{ car.price }}</em>
                            </p>
                            <p class="text-right">
                                <a
                                    v-on:click="getCar(car.id)"
                                    href="javascript:void(0)"
                                    >Edit <i class="fa fa-pencil"></i
                                ></a>
                                <a
                                    v-on:click="deleteCar(car.id)"
                                    href="javascript:void(0)"
                                    >Delete <i class="fa fa-pencil"></i
                                ></a>
                            </p>
                        </div>
                        <img :src="car.image" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mb-10" v-if="cars.length <= 0">
                <p>No records found.</p>
            </div>
        </div>
        <div id="pagination" class="mt-20" v-if="cars.length > 0">
            <form class="form-inline justify-content-center">
                <button
                    v-on:click="previous"
                    type="button"
                    class="btn mb-2"
                    :class="page > 1 ? 'btn-primary' : 'btn-secondary'"
                >
                    Previous
                </button>
                &nbsp;&nbsp;Page {{ page }}
                <div class="form-group mx-sm-3 mb-2"></div>
                <button
                    v-on:click="next"
                    type="button"
                    class="btn mb-2"
                    :class="
                        page * limit <= rows ? 'btn-primary' : 'btn-secondary'
                    "
                >
                    Next
                </button>
            </form>
        </div>
        <b-modal v-model="modal" hide-footer>
            <template v-slot:modal-title>
                Edit Car
            </template>
            <div class="d-block text-center">
                <edit-form
                    :car="car"
                    :apibaseurl="apibaseurl"
                    :modalStatusUpdate="modalStatusUpdate"
                ></edit-form>
            </div>
        </b-modal>
    </div>
</template>
<style>
#listing[data-v-codestyle] {
    width: 80%;
    margin: 5% auto;
}
.column[data-v-columnstyle] {
    margin-bottom: 10px;
}
img {
    width: 100%;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}
a {
    color: #fff;
}
a:hover {
    color: #de4463;
}
.car-info {
    top: 3%;
    width: 30%;
    right: 4%;
    padding: 10px;
    position: absolute;
    background-color: rgba(34, 34, 33, 0.5);
    text-align: left;
    color: #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
em {
    color: #49b46a;
}
</style>
<script>
import { BModal } from "bootstrap-vue";
import { success, error } from "../common";
import editForm from "./edit-form.vue";
export default {
    mounted() {
        this.getCars();
    },
    props: ["apibaseurl"],
    components: {
        editForm,
        BModal
    },
    data() {
        return {
            car: {},
            cars: [],
            key: "",
            keyword: "",
            min_price: "",
            max_price: "",
            page: 1,
            rows: 0,
            limit: 10,
            loading: false,
            modal: false
        };
    },
    methods: {
        modalStatusUpdate(status) {
            this.modal = status;
            console.log(this.modal);
        },
        deleteCar(car_id) {
            axios
                .delete(this.apibaseurl + "/seller/car/delete/" + car_id)
                .then(response => {
                    if (response.data.success) {
                        this.getCars();
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                });
        },
        getCar(car_id) {
            axios
                .get(this.apibaseurl + "/seller/car/get/" + car_id)
                .then(response => {
                    this.getCars();
                    this.modalStatusUpdate(true);
                    this.car = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getCars(criteria, priceCriteria) {
            const self = this;
            axios
                .post(this.apibaseurl + "/car/listing", {
                    criteria: criteria === undefined ? [] : criteria,
                    price_criteria:
                        priceCriteria == undefined ? [] : priceCriteria,
                    page: this.page,
                    limit: this.limit
                })
                .then(response => {
                    self.rows = response.data.rows;
                    self.cars = response.data.data;
                    setTimeout(() => {
                        self.loading = false;
                    }, 500);
                })
                .catch(error => {
                    setTimeout(() => {
                        self.loading = false;
                    }, 500);
                });
        },
        getCriteria() {
            return {
                [this.key]: this.keyword
            };
        },
        getPriceCriteria() {
            return this.key === "Price"
                ? {
                      min_price: this.min_price,
                      max_price: this.max_price
                  }
                : [];
        },
        searchHandler(e) {
            e.preventDefault();
            this.page = 1;
            this.loading = true;
            this.getCars(this.getCriteria(), this.getPriceCriteria());
        },
        previous() {
            if (this.page > 1) {
                this.page = this.page - 1;
                this.getCars(this.getCriteria(), this.getPriceCriteria());
            }
        },
        next() {
            if (this.page * this.limit <= this.rows) {
                this.page = this.page + 1;
                this.getCars(this.getCriteria(), this.getPriceCriteria());
            }
        }
    }
};
</script>
